{% extends "video/layout.html" %}

{% block body %}

    <div id="register-login-div">
        <form accept="{% url 'login_user' %}" method="post">
            {% csrf_token %}
            <input type="text" class="login-inputs" id="login-name" placeholder="Username" name="username">
            <input type="password" class="login-inputs" id="login-password" placeholder="Password" name="password">
            <p id="errorPrg">{{ error }}</p>

            <input type="submit" value="Login" id="loginBtn">            
        </form>
    </div>

{% endblock %}